{
    "logger": {
        "path": "logs/",
        "filename": "api.log",
        "level": "info",
        "rotation": "1 days",
        "retention": "1 months",
        "format": "{time:YYYY-MM-DD HH:mm:ss.SSS} | <level>{level: <8}</level> | request id: {extra[request_id]} - {name}:{function} - <level>{message}</level>"
    }
}
